<nav class="navbar sticky-top">
    <div class="container navbar-menu">
      <a href="try.html" class="nav-logoIcon">
        <img src="/assets/images/golfLogo.jpg" alt="logo">
      </a>
      <ul class="nav-menu">
        <li class="menu"><a href="index.html">首頁</a></li> <!-- try.html-->
        <li class="menu"><a href="news.html">最新消息</a></li>
        <li class="menu"><a href="althete.html">選手專區</a></li>
        <li class="menu"><a href="Knowledge.html">高爾夫球知識</a></li>
        <li class="menu"><a href="forum.html">討論區</a></li>
        <li class="menu"><a href="Courses.html">場地</a></li>
        <a href="login.html" class="btn">登入</a>
      </ul>
    </div>
</nav>
<!-- navbar mobile can watch -->
<div class="navbar-mobile-top">
    <div class="container">
        <a href="#"><img src="/assets/images/golfLogo.jpg" alt="logo-icon"></a>
        <div class="bar-icon" id="topBar">
          <a href="#"><span class="material-symbols-outlined">menu</span></a>
        </div>
    </div>
</div>
<!-- navbar menu mobile can watch -->
<div class="mobile-menu" id="topMenu">
  <ul class="nav-menu">
    <li class="menuMobile"><a href="index.html">首頁</a></li>
    <li class="menuMobile"><a href="news.html">最新消息</a></li>
    <li class="menuMobile"><a href="althete.html">選手專區</a></li>
    <li class="menuMobile"><a href="knowledge.html">高爾夫球知識</a></li>
    <li class="menuMobile"><a href="forum.html">討論區</a></li>
    <li class="menuMobile"><a href="courses.html">場地</a></li>
    <a href="logIn.html" class="btn">登入</a>
  </ul>
</div>
