.courseInformation{
    background-image: url(https://images.unsplash.com/photo-1594704696535-7888feb55d05?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 40px 12px;
    .container{
        margin:0 auto;
        .bread{
            .breadcrumb{
                display: flex;
                font-size: $font-s-22;
                &.active{
                    color:#274820;
                    
                }
                a{
                    text-decoration: none;
                    color:#dce6de;
                }
            }
        }
        .course-pic{
            img{
                width: 100%; max-height: 500px;
                object-fit: cover;
            }
        }
        .courseInfo{
            h3{
                font-size: $font-s-22;

            }
            p{
                font-size: $font-s-18;
                margin-bottom: 15px;
            }
            span{
                color:#0f5b1b;
            }
        }
    }
}

@include iphone{
    .courseInformation{
        background-image: url(https://images.unsplash.com/photo-1501520158826-76df880863a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
        background-position: bottom;
        background-size: cover;
        .bread{
            .breadcrumb{
                a{
                    color:#e3ece4;
                }
            }
        }
        .courseInfo{
            p{
                color:#14451c;
                font-size: 14px;
            }
        }
        
    }
}