$breadcrumb-divider: quote(">");

//最新消息 - banner
.banner{
    background-image: url(https://images.pexels.com/photos/914682/pexels-photo-914682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 387px;
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    h2{
        font-size: $font-s-48;
        color:#ffffff;
        font-weight: bold;
        display: flex;
        padding-top: 10%;
    }
}
@include pad{
    .banner{
        h2{
            padding-top: 20%;
        }
    }
  }
  @include iphone{
    .banner{
        h2{
            padding-top: 40%;
        }
    }
  }

//最新消息 - 新聞分頁
.newsTab{
    background-image: url(https://media.istockphoto.com/id/176764814/zh/%E7%85%A7%E7%89%87/golf-fairway-lined-with-trees-near-lake.jpg?s=612x612&w=0&k=20&c=LG9r2tYDNm15ciE8kH51I6ktlawRFvAUgshemyC4_EI=);
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover;
    object-fit: cover;
    padding: 40px 0;
    .container{
        margin:  0 auto;
        h3{
            font-size: $font-s-32;
            margin-bottom: 20px;
        }
        .newsTabs {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            -moz-column-gap: 5px;
            column-gap: 5px;
            input {
              display: none;
            }
            input{
              &:checked + label {
                color: #2b8338;
                background-color: white;
                transform: translatey(1px);
                font-size: $font-s-24;
              }
              &:checked + label + .newsTab-content{
                display: block;
              }
            }
            label {
              padding: 5px 10px;
              color: #000;
              font-size: $font-s-24;
              align-items: center;
              border: 1px solid #ccc;
              border-bottom: unset;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              cursor: pointer;
              order: 0;
            }
            .newsTab-content {
                background-color: #ffffff;
                width: 100%;
                border: 1px solid #ccc;
                display: none;
                padding: 1em;
                border-radius: 5px;
                order: 1;
                .newsItem{
                    width: 800px;
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    gap:24px;
                    width: 100%;
                }
                .newPic{
                    img{
                        width: 800px;
                        object-fit:cover;
                    }
                }
                .newContent{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    h4{
                        font-size: $font-s-22;
                        font-weight: bold;
                        color: #2b8338;
                        a{
                            &:hover{
                                color:#ffa500;
                            }
                        }
                    }
                    p{
                        margin-top:revert;
                        font-size: $font-s-18;
                        a{
                            color: rgb(141, 135, 125);
                            text-decoration: none;
                            &:hover{
                                color: orange;
                            }
                        }
                    }
                    .nextLine{
                        display: none;
                    }
                }
            }
        }
    }
}

@include pad{
    br{
        display: none;
    }
    .newsItem{
        flex-direction: column;
    }
    .newPic{
        img{
            width: 100%; height: auto;
        }
    }
}

@include iphone{
    br{
        display: block;
    }
}

.singleNewsSection{
    background-image: url(https://media.istockphoto.com/id/1060709534/zh/%E5%90%91%E9%87%8F/%E7%B0%A1%E5%96%AE%E6%8A%BD%E8%B1%A1%E7%9A%84%E6%99%AF%E8%A7%80.jpg?s=612x612&w=0&k=20&c=wGRPGyA-1wwVtScIXXg7c3K8wVEEzIYmA1kK05mFn3c=);
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover;
    object-fit: cover;
    padding: 40px 12px;
    .container{
        .bread{
            .breadcrumb{
                display: flex;
                font-size: $font-s-22;
                &.active{
                    color:#000;
                    
                }
                a{
                    text-decoration: none;
                    color:#2b8338;
                }
            }
        }
        .newsContentSection{
            margin-bottom: 20px;
            display: flex;
            .contentPicture{
                display: inline-block;
                max-width: 100%;
                img{
                    width:700px;
                    object-fit: cover;
                }
            }
            .shareIcon{
                text-decoration: none;
                display: flex;
                align-items: end;
                margin-left: 5px;
                p{
                    margin-left: 5px;
                }
            }
            .graph-color{
                display: flex;
                color: rgba(0,0,0,0.5);
                align-items: flex-end;
                margin-left: 10px;
                span{
                    margin-left: 10px;
                }
            }
        }
        .ContentNews{
            h1{
                font-size: $font-s-30;
                font-weight: bold;
                margin-bottom: 15px;
            }
            h2{
                font-size: $font-s-24;
                
                margin-bottom: 30px;
            }
            h3{
                font-size: $font-s-24;
                font-weight: bold;
            }
            p{
                font-size: $font-s-20;
                margin-bottom: 30px;
                br{
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@include pad{
    .singleNewsSection{
        .newsContentSection{
            flex-direction: column;
            
            .contentPicture{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .shareIcon{
                margin: 10px 0;
            }
        }
    }
}

@include iphone{
    .singleNewsSection{
        .container{
            .bread{
                .breadcrumb{
                    font-size: $font-s-20;
                }
            }
            .newsContentSection{
                .graph-color{
                    font-size:11px;
                }
            }
            .ContentNews{
                h1{
                    font-size: $font-s-26;
                }
                h2{
                    font-size: $font-s-22;
                }
                h3{
                    font-size: $font-s-20;
                    font-weight: bold;
                }
                p{
                    font-size: $font-s-20;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
