<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
    <title>高球巡禮 - 最新消息</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="singleNewsSection">
        <div class="container">
            <!-- 麵包屑 -->
            <nav class="bread" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="news.html">最新消息</a></li>
                    <li class="breadcrumb-item active" aria-current="page">文章</li>
                </ol>
            </nav>

            <!-- 最新消息- 文章內容 -->
            <div class="newsContentSection">
                <div class="contentPicture">
                    <img class="img-fluid" src="https://www.golfchannel.com/sites/default/files/2023/08/03/allen_rodgers_pebbe23_d3.jpg" alt="">
                </div>
                <a href="#"  class="shareIcon">
                    <span class="material-symbols-outlined">share</span>
                    <p>分享</p>
                </a>
                <p class="graph-color">BY MAX SCHREIBER.<span>AUGUST 3, 2023 AT 1:42 PM</span></p>
            </div>

            <div class="ContentNews">
                <h1>Josh Allen accuses Aaron Rodgers of cheating in AT&T Pebble Beach Pro-Am win</h1>
                <p>Last week, a cheating scandal on the PGA Tour Canada made headlines. Now, one of the biggest NFL names is accusing another superstar of not playing by the rules.

                    Wednesday on the Pardon My Take podcast, Buffalo Bills quarterback Josh Allen said he believes Aaron Rodgers, the New York Jets' new QB, "sandbagged" 
                    the competition during his team victory at the AT&T Pebble Beach Pro-Am in February with Ben Silverman. </p>

                <p>"He did," Allen said when asked if Rodgers cheated. "I love Aaron, but he did."

                    Allen, 27, added that Rodgers, 39, played with a handicap of 10 instead of his real handicap of three.</p>
                    
                <p>"He may have gotten seven or eight strokes too many at Pebble Beach, or nine," Allen said. "That's from what other sources are saying, I'm not saying that."

                    The skepticism about Rodgers' victory, however, goes back to February. 
                </p>
                <p>
                    "I think Josh and I won," Allen's pro-am partner Keith Mitchell said on Sunday during the week of the Pebble Beach pro-am (his team actually 
                    finished fourth). "Aaron Rodgers doesn't count. His handicap was crap."

                    Now, as Rodgers was traded from the Green Bay Packers to the Jets in April, Allen and Rodgers are set to duel for the AFC East title and will meet twice during the 
                    regular season. 

                    So maybe, this quarrel from the links will be settled on the gridiron. 
                </p>
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>